<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>jPictura - Demo page</title>

    <link href="reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link href="default.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="highlight/styles/dracula.css" rel="stylesheet" type="text/css">
    <link href="../dist/css/jpictura.css" rel="stylesheet" type="text/css">

    <script src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../node_modules/angular/angular.min.js" type="text/javascript"></script>
	<script src="../node_modules/angular-aria/angular-aria.js" type="text/javascript"></script>
	<script src="../node_modules/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="../node_modules/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="../node_modules/angular-messages/angular-messages.js" type="text/javascript"></script>
    <script src="highlight/highlight.pack.js" type="text/javascript"></script>

    <script src="app.js" type="text/javascript"></script>
    <script src="../dist/jpictura.js" type="text/javascript"></script>
</head>

<body ng-app="jpicturaDemoApp" ng-controller="MainController as vm" ng-cloak layout="column">

    <md-toolbar layout="row">
        <md-content md-theme="docsDark" flex layout="row">
            <md-button class="md-icon-button menu" hide-gt-sm ng-click="vm.toggleControlPanel()">
                <md-icon md-font-set="material-icons">menu</md-icon>
            </md-button>
            <h1 flexlayout-align="center"><img src="logo.png" class="logo"></h1>
            <div flex layout="row" layout-align="end">
                <md-button class="md-icon-button code" ng-click="vm.toggleCodePreview()">
                    <md-icon md-font-set="material-icons">code</md-icon>
                </md-button>
            </div>
        </md-content>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout="column">

            <md-content md-theme="docsDark" flex class="control-panel">
                <form name="controlsForm">
                    <fieldset layout="column">
                        <section class="galleries">
                            <header><span class="md-headline">Galleries</span></header>
                            <ul>
                                <li ng-repeat="gallery in vm.galleries">
                                    <md-checkbox ng-model="gallery.selected" class="md-primary">
                                        {{ gallery.name }}
                                    </md-checkbox>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <ul>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Preset</label>
                                        <md-select ng-model="vm.selectedPreset">
                                            <md-option ng-repeat="preset in vm.presets" ng-value="preset">
                                                {{preset.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <header><span class="md-headline">Layout</span></header>
                            <ul>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Row padding (px)</label>
                                        <input type="number" required min="0" name="rowPadding" ng-model="vm.settings.layout.rowPadding">
                                        <div ng-messages="controlsForm.rowPadding.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.applyRowPadding" class="md-primary">
                                        Apply row padding
                                    </md-switch>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Item spacing (px)</label>
                                        <input type="number" required min="0" name="itemSpacing" ng-model="vm.settings.layout.itemSpacing">
                                        <div ng-messages="controlsForm.itemSpacing.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.applyItemSpacing" class="md-primary">
                                        Apply item spacing
                                    </md-switch>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Ideal row height (px)</label>
                                        <input type="number" required min="1" name="idealRowHeight" ng-model="vm.settings.layout.idealRowHeight">
                                        <div ng-messages="controlsForm.idealRowHeight.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 1.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Min width/height ratio</label>
                                        <input type="number" required min="0" step="any" name="minWidthHeightRatio" ng-model="vm.settings.layout.minWidthHeightRatio">
                                        <div ng-messages="controlsForm.minWidthHeightRatio.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Max width/height ratio</label>
                                        <input type="number" required min="0" step="any" name="maxWidthHeightRatio" ng-model="vm.settings.layout.maxWidthHeightRatio">
                                        <div ng-messages="controlsForm.maxWidthHeightRatio.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.stretchImages" class="md-primary">
                                        Stretch images
                                    </md-switch>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.allowCropping" class="md-primary">
                                        Allow cropping
                                    </md-switch>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Cropping epsilon (px)</label>
                                        <input type="number" required min="0" step="any" name="croppingEpsilon" ng-model="vm.settings.layout.croppingEpsilon">
                                        <div ng-messages="controlsForm.croppingEpsilon.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.centerImages" class="md-primary">
                                        Center images
                                    </md-switch>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.layout.justifyLastRow" class="md-primary">
                                        Justify last row
                                    </md-switch>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <header><span class="md-headline">Effects</span></header>
                            <ul>
                                <li>
                                    <md-switch ng-model="vm.settings.effects.fadeInItems" class="md-primary">
                                        Fade-in items
                                    </md-switch>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <header><span class="md-headline">Responsive</span></header>
                            <ul>
                                <li>
                                    <md-switch ng-model="vm.settings.responsive.enabled" class="md-primary">
                                        Enabled
                                    </md-switch>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.responsive.onWindowWidthResize" class="md-primary">
                                        On window resize
                                    </md-switch>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.responsive.onContainerWidthResize" class="md-primary">
                                        On container resize
                                    </md-switch>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Container resize interval (ms)</label>
                                        <input type="number" required min="0" name="containerResizeInterval" ng-model="vm.settings.responsive.containerResizeInterval">
                                        <div ng-messages="controlsForm.containerResizeInterval.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Debounce (ms)</label>
                                        <input type="number" required min="0" name="debounce" ng-model="vm.settings.responsive.debounce">
                                        <div ng-messages="controlsForm.debounce.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <header><span class="md-headline">...</span></header>
                            <ul>
                                <li>
                                    <md-switch ng-model="vm.settings.waitForImages" class="md-primary">
                                        Wait for images
                                    </md-switch>
                                </li>
                                <li>
                                    <md-switch ng-model="vm.settings.debug" class="md-primary">
                                        Debug
                                    </md-switch>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <header><span class="md-headline">Algorithm</span></header>
                            <ul>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Epsilon (px)</label>
                                        <input type="number" required min="0" step="any" name="epsilon" ng-model="vm.settings.algorithm.epsilon">
                                        <div ng-messages="controlsForm.epsilon.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 0.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                                <li>
                                    <md-input-container class="md-block">
                                        <label>Max iteration count</label>
                                        <input type="number" required min="1" step="any" name="maxIterationCount" ng-model="vm.settings.algorithm.maxIterationCount">
                                        <div ng-messages="controlsForm.maxIterationCount.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">You must supply a number.</div>
                                            <div ng-message="min" class="my-message">The minimum value is 1.</div>
                                        </div>
                                    </md-input-container>
                                </li>
                            </ul>
                        </section>
                    </fieldset>
                </form>
            </md-content>

        </md-sidenav>

        <md-content flex class="content">

            <md-content md-theme="docsDark" class="code-preview" ng-show="vm.showCodePreview">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="HTML">
                        <md-content>
                        </md-content>
                    </md-tab>
                    <md-tab label="JS">
                        <md-content>
                            <pre><code class="javascript">{{ vm.codePreview.js }}</code></pre>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>

            <div class="gallery-container">

                <div class="gallery" id="gallery-number-pictures" ng-show="vm.isGallerySelected('gallery-number-pictures')">
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="600" data-jpictura-width="100"><img alt="Test picture" src="number-pictures/100x600.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="400" data-jpictura-width="200"><img alt="Test picture" src="number-pictures/200x400.png"/></div>
                    <div class="item" data-jpictura-height="400" data-jpictura-width="200"><img alt="Test picture" src="number-pictures/200x400.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="100" data-jpictura-width="100"><img alt="Test picture" src="number-pictures/100x100.png"/></div>
                    <div class="item" data-jpictura-height="180" data-jpictura-width="320"><img alt="Test picture" src="number-pictures/320x180.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="100" data-jpictura-width="600"><img alt="Test picture" src="number-pictures/600x100.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                    <div class="item" data-jpictura-height="200" data-jpictura-width="300"><img alt="Test picture" src="number-pictures/300x200.png"/></div>
                </div>

                <div class="gallery" id="gallery-real-pictures" ng-show="vm.isGallerySelected('gallery-real-pictures')">
                    <div class="item"><img alt="Test picture" src="real-pictures/400x267.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/200x267.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/445x100.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/200x300.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/100x395.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/250x375.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/100x100.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/300x256.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/300x300.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/300x200.jpg"/></div>
                    <div class="item"><img alt="Test picture" src="real-pictures/400x261.jpg"/></div>
                </div>

                <div class="gallery" id="gallery-pictures-from-net" ng-show="vm.isGallerySelected('gallery-pictures-from-net')">
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/1/19/Orange_flower_of_Georgia.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Catunaregam_spinosa_(Mountain_Pomegranate)_flower_W_IMG_9083.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Cassava_flower,_Manihot_esculenta.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/en/a/af/Lily-flower-free.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/1/19/Orange_flower_of_Georgia.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Daisy_flower.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Cassava_flower,_Manihot_esculenta.jpg"/></div>
                    <div class="item"><img alt="image" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Peach_flowers.jpg"/></div>
                </div>

            </div>

        </md-content>

    </div>

</body>
</html>
